.animated-divider {
  width: 80%;
  margin: auto;
  height: 1px;
  background-color: rgba(221, 219, 241, 0.20);
  animation: animated-divider 1.5s linear;
}

@keyframes animated-divider {
  0% {
    transform: scaleX(0%);
  }
  100% {
    transform: scaleX(100%);
  }
}

.hollow-bullet {
  list-style-type: none;
}

li::before {
  display: inline-block;

  content: "";
  width: 12px;
  height: 12px;

  border: 1px solid white;
  border-radius: 50%;

  margin-right: 20px;
}

li {
  margin-bottom: 30px;
}

